In [29]:
# How tha data is loaded

In [45]:
import pandas as pd
import numpy as np

file1= 'IVT_2023.xlsx'
file2= 'IVT_2024.xlsx'

df1 = pd.read_excel(file1, sheet_name='Member')
df1

,Member Table,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Member Table Analysis,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Record Count,100469,NaN,NaN,Begin Date of Report Period,2020-01-01
3,Total Number of Members,34034,NaN,NaN,End Date of Report Period,2022-03-31
4,Number of Members Enrolled Anytime\n ...,34034,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
1104,NaN,NaN,NaN,NaN,NaN,NaN
1105,NaN,NaN,NaN,NaN,NaN,NaN
1106,NaN,NaN,NaN,NaN,NaN,NaN
1107,NaN,NaN,NaN,NaN,NaN,NaN
1108,NaN,0,NaN,NaN,NaN,NaN

In [ ]:
# How it claened up

In [48]:
# For Sheet name member
# Issues: No key emelemets, no sorting, automated sortjing not possible based on the data 
df1 = pd.read_excel(file1, sheet_name='Member')
df2 = pd.read_excel(file2, sheet_name='Member')

df1  = df1.set_axis(['key', *df1.columns[1:]], axis=1)
df2  = df2.set_axis(['key', *df2.columns[1:]], axis=1)
df1  = df1.dropna(axis=0, subset=['key'])
df2  = df2.dropna(axis=0, subset=['key'])
df1 = df1.loc[:,~df1.columns.duplicated()].copy()
df2 = df2.loc[:,~df2.columns.duplicated()].copy()

df1
#colormat = df1.eq(df2).replace({False: 'background-color: lightcoral',True: 'background-color: wheat'})
#df1.style.apply(lambda _: colormat, axis=None).to_excel('Member.xlsx', engine="openpyxl")

,key,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Member Table Analysis,NaN,NaN,NaN,NaN,NaN
2,Record Count,100469,NaN,NaN,Begin Date of Report Period,2020-01-01
3,Total Number of Members,34034,NaN,NaN,End Date of Report Period,2022-03-31
4,Number of Members Enrolled Anytime\n ...,34034,NaN,NaN,NaN,NaN
5,Total Member Months*,522159,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
139,Top 30 Map_Src and Coverage Status,Record Count,Percent,NaN,NaN,NaN
140,1 SUB,48006,0.4778,NaN,NaN,NaN
141,1 DEP,35777,0.3561,NaN,NaN,NaN
142,1 SPS,16657,0.1658,NaN,NaN,NaN
143,1 UNK,29,0.0003,NaN,NaN,NaN

In [49]:
df1.compare(df2,align_axis=1,keep_shape = True,keep_equal=True)

                                                   key  \
                                                  self
0                                Member Table Analysis
2                                         Record Count
3                              Total Number of Members
4    Number of Members Enrolled Anytime\n          ...
5                                 Total Member Months*
..                                                 ...
139                 Top 30 Map_Src and Coverage Status
140                                              1 SUB
141                                              1 DEP
142                                              1 SPS
143                                              1 UNK

                                                          Unnamed: 1  \
                                                 other          self
0                                Member Table Analysis           NaN
2                                         Record Count        100469
3                              Total Number of Members         34034
4    Number of Members Enrolled Anytime\n          ...         34034
5                                 Total Member Months*        522159
..                                                 ...           ...
139                 Top 30 Map_Src and Coverage Status  Record Count
140                                              1 SUB         48006
141                                              1 UNK         35777
142                                              1 DEP         16657
143                                              1 SPS            29

                  Unnamed: 2          Unnamed: 3        \
            other       self    other       self other
0             NaN        NaN      NaN        NaN   NaN
2          252341        NaN      NaN        NaN   NaN
3           95510        NaN      NaN        NaN   NaN
4           95510        NaN      NaN        NaN   NaN
5         1509670        NaN      NaN        NaN   NaN
..            ...        ...      ...        ...   ...
139  Record Count    Percent  Percent        NaN   NaN
140         96426     0.4778   0.3821        NaN   NaN
141         66050     0.3561   0.2617        NaN   NaN
142         59406     0.1658   0.2354        NaN   NaN
143         30459     0.0003   0.1207        NaN   NaN

                      Unnamed: 4                               Unnamed: 5  \
                            self                        other        self
0                            NaN                          NaN         NaN
2    Begin Date of Report Period  Begin Date of Report Period  2020-01-01
3      End Date of Report Period    End Date of Report Period  2022-03-31
4                            NaN                          NaN         NaN
5                            NaN                          NaN         NaN
..                           ...                          ...         ...
139                          NaN                          NaN         NaN
140                          NaN                          NaN         NaN
141                          NaN                          NaN         NaN
142                          NaN                          NaN         NaN
143                          NaN                          NaN         NaN


          other
0           NaN
2    2021-01-01
3    2023-03-31
4           NaN
5           NaN
..          ...
139         NaN
140         NaN
141         NaN
142         NaN
143         NaN

[113 rows x 12 columns]

In [35]:
df1.eq(df2)

       key      1      2      3      4      5
0     True  False  False  False  False  False
1     True  False  False  False  False  False
3     True  False  False  False   True  False
4     True  False  False  False   True  False
5     True  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...
140   True   True   True  False  False  False
141   True  False  False  False  False  False
142  False  False  False  False  False  False
143  False  False  False  False  False  False
144  False  False  False  False  False  False

[114 rows x 6 columns]

In [50]:
df= df1.compare(df2,align_axis=1,keep_shape = True, keep_equal=True)
df.columns

MultiIndex([(       'key',  'self'),
            (       'key', 'other'),
            ('Unnamed: 1',  'self'),
            ('Unnamed: 1', 'other'),
            ('Unnamed: 2',  'self'),
            ('Unnamed: 2', 'other'),
            ('Unnamed: 3',  'self'),
            ('Unnamed: 3', 'other'),
            ('Unnamed: 4',  'self'),
            ('Unnamed: 4', 'other'),
            ('Unnamed: 5',  'self'),
            ('Unnamed: 5', 'other')],
           )

In [53]:
df['A_C_equal'] = df.apply(lambda row: ('Unnamed: 1', 'other') == ('Unnamed: 1', 'self'), axis=1)
df

                                                   key  \
                                                  self
0                                Member Table Analysis
2                                         Record Count
3                              Total Number of Members
4    Number of Members Enrolled Anytime\n          ...
5                                 Total Member Months*
..                                                 ...
139                 Top 30 Map_Src and Coverage Status
140                                              1 SUB
141                                              1 DEP
142                                              1 SPS
143                                              1 UNK

                                                          Unnamed: 1  \
                                                 other          self
0                                Member Table Analysis           NaN
2                                         Record Count        100469
3                              Total Number of Members         34034
4    Number of Members Enrolled Anytime\n          ...         34034
5                                 Total Member Months*        522159
..                                                 ...           ...
139                 Top 30 Map_Src and Coverage Status  Record Count
140                                              1 SUB         48006
141                                              1 UNK         35777
142                                              1 DEP         16657
143                                              1 SPS            29

                  Unnamed: 2          Unnamed: 3        \
            other       self    other       self other
0             NaN        NaN      NaN        NaN   NaN
2          252341        NaN      NaN        NaN   NaN
3           95510        NaN      NaN        NaN   NaN
4           95510        NaN      NaN        NaN   NaN
5         1509670        NaN      NaN        NaN   NaN
..            ...        ...      ...        ...   ...
139  Record Count    Percent  Percent        NaN   NaN
140         96426     0.4778   0.3821        NaN   NaN
141         66050     0.3561   0.2617        NaN   NaN
142         59406     0.1658   0.2354        NaN   NaN
143         30459     0.0003   0.1207        NaN   NaN

                      Unnamed: 4                               Unnamed: 5  \
                            self                        other        self
0                            NaN                          NaN         NaN
2    Begin Date of Report Period  Begin Date of Report Period  2020-01-01
3      End Date of Report Period    End Date of Report Period  2022-03-31
4                            NaN                          NaN         NaN
5                            NaN                          NaN         NaN
..                           ...                          ...         ...
139                          NaN                          NaN         NaN
140                          NaN                          NaN         NaN
141                          NaN                          NaN         NaN
142                          NaN                          NaN         NaN
143                          NaN                          NaN         NaN

                A_C_equal
          other
0           NaN     False
2    2021-01-01     False
3    2023-03-31     False
4           NaN     False
5           NaN     False
..          ...       ...
139         NaN     False
140         NaN     False
141         NaN     False
142         NaN     False
143         NaN     False

[113 rows x 13 columns]

In [67]:
df.style.map(lambda x: "background-color: lightgreen" if x==0 else "background-color: ''")